.card {
    cursor: pointer; /* Змінює курсор на pointer, коли наведен на зображення */
    overflow: hidden; /* Приховує частини зображення, якщо воно виходить за межі */
    border-radius: 8px; /* Заокруглення кутів */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тінь для об'ємності */
}

.img {
    width: 100%; /* Зображення займає всю ширину батьківського елемента */
    height: auto; /* Зберігає пропорції зображення */
    display: block; /* Убирає прогалини внизу зображення */
    transition: transform 0.2s; /* Додає анімацію при наведенні */
}

.img:hover {
    transform: scale(1.05); /* Збільшує зображення при наведенні */
}
